*, *::before, *::after {
  box-sizing: border-box;
}

.nav-area {
  position: sticky;
  top: 100px;
  overflow: auto;
}

button {
  color: #c01a1a;
  background: white;
  border: 3px solid #c01a1a;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  transition-duration: 0.4s;
  font-weight: 600;
  font-size: large;
}

button:hover {
  color: white;
  background: #c01a1a;
  border-color: white;
}

button:active {
  background: #9b1515
}

.submit-button {
  color: #c01a1a;
  background: white;
  border: 3px solid #c01a1a;
  padding: 5px 32px;
  margin: 10px;
  transition-duration: 0.4s;
  font-weight: 600;
}

.submit-button:hover {
  color: white;
  background: #c01a1a;
  border-color: white;
}

.submit-button:active {
  background: #9b1515
}

.nav-buttons {
  
}

.user-container {
  
}

.search-form {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.loginForm, .about, .cart {
  margin: 0 30px;
}

.crop {
  display: grid;
  height: 100%;
 }

 .crop img {
  max-width: 30%;
  max-height: 100vh;
 }

 .card {
   border: 3px dotted black;
   padding-left: 2%;
   margin: 30px;
 }

 .show {
  padding-left: 2%;
 }

 .show img {
  height: auto;
  width: 600px;
 }

 .review {
   border-style: solid;
   padding-left: 2%;
 }

 .reviewForm {
   padding-left: 2%;
 }

 textarea {
   resize: none;
   width: 300px;
   height: 100px;
   font-family: 'Roboto', sans-serif;
 }

 .cart-items {
   
 }

 .cart-items > img {
   
 }

 .cart li {
   
 }

 .total-price-box {
   
 }

 .long-desc {
   width: 50%;
   border: 3px dotted black;
   padding: 0 24px;
 }

 .card button {
   margin: 0;
 }

 .show button:first-of-type {
   margin-left: 0;
 }

 .loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #f50000;
  background: -moz-linear-gradient(left, #f50000 10%, rgba(245,0,0, 0) 42%);
  background: -webkit-linear-gradient(left, #f50000 10%, rgba(245,0,0, 0) 42%);
  background: -o-linear-gradient(left, #f50000 10%, rgba(245,0,0, 0) 42%);
  background: -ms-linear-gradient(left, #f50000 10%, rgba(245,0,0, 0) 42%);
  background: linear-gradient(to right, #f50000 10%, rgba(245,0,0, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #f50000;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}