

.nav-area {
  
}







.submit-button {
  
}

.submit-button:hover {
  
}

.submit-button:active {
  
}

.nav-buttons {
  
}

.user-container {
  
}

.search-form {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.loginForm, .about, .cart {
}

.crop {
  display: grid;
  height: 100%;
 }

 .crop img {
  max-width: 30%;
  max-height: 100vh;
 }

 .card {
   border: 3px dotted black;
   padding-left: 2%;
   margin: 30px;
 }

 .show {
  padding-left: 2%;
 }

 .show img {
  height: auto;
  width: 600px;
 }

 .review {
   border-style: solid;
   padding-left: 2%;
 }

 .reviewForm {
   padding-left: 2%;
 }

 

 .cart-items {
   
 }

 .cart-items > img {
   
 }

 .cart li {
   
 }

 .total-price-box {
   
 }

 .long-desc {
   width: 50%;
   border: 3px dotted black;
   padding: 0 24px;
 }

 .card button {
   margin: 0;
 }

 .show button:first-of-type {
   margin-left: 0;
 }


